<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

    <head>
        <meta charset="utf-8">
        <title>My app</title>
    </head>

    <body>
        <header th:insert="~{blocks/navigation :: header}"></header>

        <p>Список отелей</p>
        <p>Критерии поиска</p>

        <form id="myForm">
            <label for="city">Город:</label>
            <input type="text" id="city" name="city" />

            <label for="date_start">Дата начала:</label>
            <input type="date" id="date_start" name="date_start" />

            <label for="date_end">Дата конца:</label>
            <input type="date" id="date_end" name="date_end" />

            <button type="button" onclick=sendData()>Найти</button>
        </form>
            <ul id="list">
                Заполните критерии и нажмите "Найти".
            </ul>


        <script
                src="https://code.jquery.com/jquery-3.6.3.js"
                integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
                crossorigin="anonymous"></script>
        <script th:src="@{/static/js/gethotel.js}"></script>
        <script th:src="@{/static/js/sendreserv.js}"></script>

    </body>

</html>